<div id="workout-container">
    <div class="row">
        <h2 class="col-sm-8 col-sm-offset-1">{{workout.title || 'Workout Title'}} {{formWorkout.$dirty ? '*' : ''}}
            <span class="pull-right glyphicon glyphicon-trash text-danger" 
                  title="Delete Workout" 
                  ng-show="canDeleteWorkout()" 
                  ng-confirm="deleteWorkout()" 
                  ng-confirm-message="Are you sure you want to delete this workout?">
            </span>
        </h2>
    </div>
    <form class="row" name="formWorkout" novalidate>
        <div id="exercises-list" class="col-sm-5 col-sm-offset-1">
            <!--
            When Angular encounters ng-model on an element *inside a form*, it creates an 
            NgModelController and exposes it on the scope using the name attribute 
            (exerciseCount). The <span/> is used to get hold of the model controller so 
            that the exercise count validator can be registered. 
            
            We are not using ng-model in its true sense here, since no two-way binding is 
            involved. We only want the model controller API to do custom validation.
            -->
            <span name="exerciseCount" ng-model="workout.exercises.length"></span>
            <div class="alert alert-danger" ng-show="formWorkout.exerciseCount.$dirty && formWorkout.exerciseCount.$error.count">
                The workout should have at least one exercise!
            </div>
            <div ng-repeat="exercise in workout.exercises" class="exercise-item">
                <div ng-include="'workout-exercise-tile'"></div>
            </div>
        </div>
        <div id="workout-data" class="col-sm-3">
            <div class="form-group row" ng-class="{ 'has-error': formWorkout.workoutName.$invalid }">
                <label for="workout-name">Name:</label>
                <input id="workout-name" 
                       type="text" 
                       name="workoutName" 
                       class="form-control" 
                       placeholder="Enter workout name. Must be unique." 
                       ng-model="workout.name" 
                       ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                       required
                       ng-pattern="/^[A-Za-z0-9]{1,15}$/">{{workout.name}}
                       <!--OR: ...ng-model-options="{ updateOn: 'blur' }">{{workout.name}}-->
                       <!--OR: ...ng-model-options="{ updateOn: 'blur mouseleave' }">{{workout.name}}-->
                <label ng-show="hasError(formWorkout.workoutName, formWorkout.workoutName.$error.required)" class="text-danger">
                    Workout name is required and it should be unique.
                </label>
                <label ng-show="hasError(formWorkout.workoutName, formWorkout.workoutName.$error.pattern)" class="text-danger">
                    Only alphanumeric values are allowed in workout name which must be less than 16 characters.
                </label>
            </div>
            <div class="form-group row" ng-class="{ 'has-error': formWorkout.title.$invalid }">
                <label for="workout-title">Title:</label>
                <input id="workout-title" 
                       type="text" 
                       name="title" 
                       class="form-control" 
                       placeholder="What would be the workout title?" 
                       ng-model="workout.title"
                       required
                       ng-minlength="5" 
                       ng-maxlength="20">
                <label ng-show="hasError(formWorkout.title, formWorkout.title.$error.required)" class="text-danger">
                    Workout title is required.
                </label>
                <label ng-show="hasError(formWorkout.title, formWorkout.title.$error.minlength || formWorkout.title.$error.maxlength)" class="text-danger">
                    Title should be between 5 and 20 characters long.
                </label>
            </div>
            <div class="form-group row">
                <label for="workout-description">Description:</label>
                <textarea id="workout-description" 
                          name="description" 
                          class="form-control" 
                          placeholder="Enter workout description." 
                          ng-model="workout.description">
                </textarea>
            </div>
            <div class="form-group row" ng-class="{'has-error': formWorkout.restBetweenExercise.$error.number }">
                <label for="workout-rest">Rest Time (in seconds):</label>
                <input id="workout-rest" 
                       name="restBetweenExercise" 
                       type="number" 
                       class="form-control" 
                       placeholder="Rest period between exercise in seconds." 
                       ng-model="workout.restBetweenExercise"
                       min="1" 
                       ng-pattern="/^-.?\d+$/"
                       required>
                <!--Could use for rolling up all form validation:-->
                <!--<div ng-messages="..." ng-messages-multiple>...</div>-->
                <div ng-messages="formWorkout.restBetweenExercise.$error" ng-if="formWorkout.restBetweenExercise.$dirty">
                    <label ng-message="required" class="text-danger">Time duration is required.</label>
                    <label ng-message="number" class="text-danger">Time duration should be numeric.</label>
                    <label ng-message="min" class="text-danger">Only positive integer value allowed.</label>
                    <label ng-message="pattern" class="text-danger">Only integer value allowed.</label>
                </div>
            </div>
            <div class="form-group row">
                <label>Total Exercises:</label>
                <p class="form-control-static badge">{{workout.exercises.length}}</p>
            </div>
            <div class="form-group row">
                <label>Total Duration:</label>
                <p class="form-control-static badge">{{workout.totalWorkoutDuration() | secondsToTime}}</p>
            </div>
            <div class="row">
                <button class="btn btn-default pull-right btn-block" ng-click="save()">Save</button>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="workout-exercise-tile">
    <div class="exercise tile">
	    <div class="title">
            {{exercise.details.title}}
            <div class="pull-right" ng-click="removeExercise(exercise)">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
        </div>
        <div class="index">
            <span>{{$index + 1}}</span>
        </div>
		<div class="main">
			<div class="image">
				<img ng-src="{{exercise.details.image ? exercise.details.image : 'assets/images/running.png'}}"/>
			</div>
			<div class="details">
                <select name="duration" 
                        class="select-duration form-control" 
                        ng-model="exercise.duration" 
                        ng-options="duration.value as duration.title for duration in durations">
                </select>
                <label ng-show="hasError(formDuration.duration, formDuration.duration.$error.required)" class="text-danger">
                    Time duration is required.
                </label>
			</div>
		</div>
        <div class="order">
            <button class="btn btn-info" ng-click="moveExerciseTo(exercise,0)">
                <span class="glyphicon glyphicon-upload"></span>
            </button>
            <button class="btn btn-info" ng-click="moveExerciseTo(exercise,$index-1)">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button class="btn btn-info" ng-click="moveExerciseTo(exercise,$index+1)">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <button class="btn btn-info" ng-click="moveExerciseTo(exercise,workout.exercises.length-1)">
                <span class="glyphicon glyphicon-download"></span>
            </button>
        </div>
    </div>
</script>