<div class="row">
    <div class="col-sm-3">
        <!--Empty-->
    </div>
    <div class="col-sm-6">
        <h1 class="text-center">
            Ready for a Workout?
        </h1>
        <div>
            <img src="assets/images/start.png" style="width:70%" class="center-block"/>
        </div>
        <div id="start" class="row">
            <a href="#/workout">
                <span>Start</span>
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <!--Empty-->
    </div>
</div>
